---
title: Logo files

order: 0

description: |
  Logos are stored on GitHub in the [resources repository](https://github.com/djangocon/resources).

fullLogoFolder: https://raw.githubusercontent.com/djangocon/resources/main/us-2026/logos/

logos:
  - wordmark-flat-black.png
  - wordmark-flat-black.svg
  - wordmark-flat-blue.png
  - wordmark-flat-blue.svg
  - wordmark-flat-orange.png
  - wordmark-flat-orange.svg
  - wordmark-flat-multi.png
  - wordmark-flat-multi.svg
  - wordmark-flat-white.png
  - wordmark-flat-white.svg
  - wordmark-iso-white.png
  - wordmark-iso-white.svg
  - wordmark-iso-orange.png
  - wordmark-iso-orange.svg
  - wordmark-iso-bnw.png
  - wordmark-iso-bnw.svg
  - wordmark-iso-multi.png
  - wordmark-iso-multi.svg
  - wordmark-iso-pattern.png

submark:
  - submark-vertical.png
  - submark-vertical.svg
  - submark-white.png
  - submark-white.svg
  - submark-iso-orange.png
  - submark-iso-orange.svg
  - submark-iso-blue-bg.png
  - submark-iso-blue-bg.svg
---

<h3 class="mb-2 text-lg font-bold lg:text-2xl font-heading">Full Logo</h3>

<ul class="flex flex-wrap gap-12 mb-8">
  {% for logo in logos %}
    {% assign logoUrl = fullLogoFolder | append: logo | escape %}
    <li>
      <a
        href="{{ logoUrl }}"
        class="flex flex-col items-center gap-4"
        target="_blank">
        <img
          src="{{ fullLogoFolder }}{{ logo }}"
          alt="Full logo in {{ logo | split: '.' | last }}"
          class="h-16">

        <span class="block text-sm font-semibold">{{ logo }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<h3 class="mb-2 text-lg font-bold lg:text-2xl font-heading">Submark</h3>

<ul class="flex flex-wrap gap-12">
  {% for mark in submark %}
    {% assign markUrl = fullLogoFolder | append: mark | escape %}
    <li>
      <a
        href="{{ markUrl }}"
        class="flex flex-col items-center gap-4"
        target="_blank">
        <img
          src="{{ fullLogoFolder }}{{ mark }}"
          alt="Submark in {{ mark | split: '.' | last }}"
          class="h-16">

        <span class="block text-sm font-semibold">{{ mark }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
