---
title: Code of Conduct
description: |
  DjangoCon US is dedicated to providing a fun harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race, or religion.

permalink: /conduct/
redirect_from: /coc/
hero_graphic: /assets/img/2026/conduct.svg
---

{% layout "_layouts/page.html" %}

{% block hero_content %}
  <p class="prose">
    DjangoCon US is dedicated to providing a fun harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race, or religion.
  </p>
{% endblock %}

{% block wrapper %}
{% include "coc-content.html" %}
{% endblock %}
