---
title: Public Health Policy
description: |
  DjangoCon US 2026's public health policy includes a mask recommendation.

permalink: /public-health/
redirect_from: /covid/
hero_graphic: /assets/img/2026/health.svg
---

{% layout "_layouts/page.html" %}

{% block hero_content %}
  <p class="lead">
    DjangoCon US 2026's public health policy includes a mask recommendation.
  </p>
{% endblock %}

{% block wrapper %}
<div class="wrapper">
  <div class="banner">
    <aside class="bg-white col-span-2">
      <p class="site-h3">TLDR: A short-version of the policy is as follows:</p>
      <div class="prose">
        <ul class="mt-4">
          <li>Masks are recommended (KN95 / N95 preferred)</li>
          <li>Tests are not required this year</li>
          <li>Specific seating areas requiring masks will be designated</li>
          <li><a href="https://www.stauffersafety.com/Product/3m-9205-bulk-3m-aura-n95-particulate-respirator-mask-701199">N95 Masks</a> will be provided upon request</li>
          <li>DjangoCon US reserves the right to make the health policy more restrictive</li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="prose my-12">
{% markdown %}
## Full Public Health Policy

In light of ongoing health considerations, this year the DjangoCon US Public Health Policy strongly <em>encourages</em> all attendees to wear masks throughout the conference spaces.

We expect that all attendees respect those who choose to wear a mask and their boundaries.

DjangoCon US also encourages attendees to take a COVID test prior to arriving at the conference, and to have the latest vaccination boosters. If you are not familiar, we suggest you check out the [CDC's Travel guidelines to stay safe](https://www.cdc.gov/covid/index.html). Rapid COVID tests can be made available upon request, <em>however tests will not be required to attend this year</em>.

The conference will feature select areas in the talk rooms where attendees will be required to wear masks. These areas will be some distance (but not separated by walls) from non-masked areas to allow diffusion.

The conference will make available [N95 masks](https://www.stauffersafety.com/Product/3m-9205-bulk-3m-aura-n95-particulate-respirator-mask-701199) for people to wear, upon request. We recommend that all attendees wear a certified KN95 / N95 respirator mask (with no outflow vent) while inside. If you prefer to wear a surgical mask, we recommend an ASTM Level 3 rated mask.

DjangoCon US offers easy refunds if you need to cancel at any time, due to health status.

DjangoCon US reserves the right to increase the requirements of this policy based on COVID-19 infection, hospitalization or positive test rates as reported by the CDC or other authorities. We may also be required to alter our policy to conform with local, state, or federal mandates.
{% endmarkdown %}
  </div>
</div>

<div class="py-20 lg:py-24 bg-background">
  <div class="flex flex-col items-center justify-center gap-4 wrapper">
    <p class="text-2xl site-h3">Questions about our Public Health Policy?</p>
    <a href="mailto:{{site.contact_us_email}}" class="my-4 button bg-white">Email the organizers</a>
  </div>
</div>
{% endblock %}
