---
templateClass: homepage
---

{% layout "_layouts/default.html" %}

{% block header %}
<div class="home-hero">
  {% include "header.html" %}

  <div id="SiteHero" class="flex justify-center lg:justify-start flex:block wrapper">
    <section class="flex flex-col items-center gap-8 mx-auto lg:w-1/2 lg:py-16 xl:w-[660px]">
      <span class="bubble">{{ site.conference_dates }}</span>

      <img src="/assets/img/2026/logo-styled.svg" class="" alt="DjangoCon US" />

      <div class="justify-center p-5 button-group">
        <a class="button button-lg bg-primary" href="{{ site.cfp_application }}">Submit a Talk</a>
        <a class="button button-lg" href="{{ site.opportunity_grant_application }}">Apply for a Grant</a>
        <!-- <a class="text-lg font-bold button" href="{{ site.mailing_list }}">Join Mailing List</a>
        <a class="text-lg font-bold button" href="{{ site.hotel_reservation_link }}">Book a Hotel Room</a> -->
      </div>
      <!-- <p class="text-lg text-center">
        Opportunity Grant deadline: <strong>{{ site.opportunity_grant_deadline }}</strong><br>
        Talk Proposal deadline: <strong>{{ site.cfp_deadline }}</strong>
      </p> -->
    </section>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="block-container">
    <div class="text-center wrapper">
      <h2 class="mb-10 text-3xl font-bold font-heading lg:text-4xl">Our Sponsors</h2>

      {% include "sponsor-listing.html" %}

      <a href="/sponsors" class="mt-20 text-xl button">Become a Sponsor</a>
    </div>
  </div>
{% endblock %}
