---
templateClass: homepage
---

{% layout "_layouts/default.html" %}

{% block header %}
<div class="index-hero">
  {% include "header.html" %}

  <div id="SiteHero" class=" flex justify-center lg:justify-start flex:block index-wrapper ">
    <section class="flex flex-col items-center gap-8 mx-auto lg:w-1/2 lg:py-16 xl:w-[660px]">
      <span class="bubble">{{ site.conference_dates }}</span>

      <img src="/assets/img/2026/logo-styled.svg" class="" alt="DjangoCon US" />

      <div class="p-5">
        <div class="justify-center p-2 button-group">
          <a class="button button-lg" href="{{ site.mailing_list }}">Join Mailing List</a>
          <a class="button button-lg" href="{{ site.hotel_reservation_link }}">Book a Hotel Room</a>
        </div>
        <div class="justify-center p-2 button-group">
          <a class="button button-lg bg-primary" href="{{ site.mailing_list }}">Buy Tickets</a>
        </div>
      </div>
    </section>
  </div>

  <div class="index-hero-stats grid grid-cols-3">
    <p><span>400+</span> Attendees</p>
    <p><span>50+</span> Talks</p>
    <p><span>5</span> Days</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <section class="p-4">
    <img src="/assets/img/2025/venue-3.png" class="my-8 rounded-xl" alt="Group photo of attendees at DjangoCon US 2025" />
  </section>
  
  <div class="block-container">
    <div class="text-center wrapper">
      <h2 class="font-tanker text-6xl mb-8">Our Sponsors</h2>

      {% include "sponsor-listing.html" %}

      <a href="/sponsors" class="mt-20 text-xl button">Become a Sponsor</a>
    </div>
  </div>
{% endblock %}
