.index-hero {
  @apply relative z-50;
  background-image: url('/assets/img/2026/yellow-metro.svg'), url('/assets/img/2026/red-metro.svg');                  
  background-repeat: no-repeat, no-repeat;                                                                            
  background-position: left 100%, right 100%;
  position: relative; 
}

.index-wrapper {
  position: relative;
}

.index-wrapper-texture {
  background-image: url('/assets/img/2026/texture.jpg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  opacity: 40%;
  inset: 0;
}

.index-hero-stats {
  text-align: center;

  span {
    @apply font-tanker block text-orange text-6xl;
    -webkit-text-stroke: 3px theme("colors.dark-blue.DEFAULT");
    paint-order: stroke fill;
    text-shadow: 4px -4px 0px  theme("colors.dark-blue.DEFAULT");
  }
}
