.session-social-template {
  @apply relative;
  width: 1200px;
  height: 675px;

  --avatar-size: 350px;
}

.session-social-template-photo {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  top: 270px;
  left: 755px;
  width: var(--avatar-size);
  @apply absolute z-20;
}

.session-social-template-content {
  @apply relative z-10;
  @apply font-sans;
  top: 350px;
  left: 15px;
  width: 680px;
  color: white;
  padding: 0 1.5rem;
  height: 300px;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.session-social-template-name {
  @apply font-bold leading-tight;
  font-size: 58px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.session-social-template-talks {
  @apply font-medium leading-tight;
  font-size: 48px;

  &.talk-long {
    font-size: 36px;
  }
}

/* Two presenters */
.session-social-presenter-count-2 {
  --avatar-size: 230px;

  .session-social-template-content {
    padding: 3rem 4rem;
  }

  .session-social-template-photo {
    top: 263px;
    left: 267px;
  }

  .session-social-template-photo:nth-of-type(2) {
    top: 33px;
    left: 37px;
  }
}
